
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Press+Start+2P&display=swap');

.App {
  text-align: center;
}


.App-link {
  color: #09d3ac;
}

h1{
  font-family: 'Press Start 2P', cursive;
}

.aboutGame {
  font-family: 'Courier Prime', monospace;
}

.bg{
  background-size: cover;
  z-index:-1;
}

.btn{
  margin: 0 10%;
  padding: 1.5%;
  font-size: large;
}


