
@import url('https://fonts.googleapis.com/css?family=Courier+Prime|Press+Start+2P&display=swap');

.App {
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

h1{
  font-family: 'Press Start 2P', cursive;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img.bg {
  min-width: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.aboutGame {
  font-family: 'Courier Prime', monospace;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.homeText{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.storyText{
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 25px;
  margin-top: 25%;
  padding: 2%;
  margin-bottom: 20px;
}

.nameText{
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
}

.bg{
  background-image: url(shared/jungle.jpg);
  background-size: cover;
  min-height: 1000px;
  z-index:-1;

} 

.bgrow{
  background-image: url(shared/jungle.jpg);
  background-size: cover;
  
} 

.imageCorner {
  height: 70px;
  width: 60;
  border: 2px white solid;
  border-radius: 50px;
  margin: 10px;
}


.animBtn:hover {
  animation: stretch 1.8s;
}
@keyframes stretch{
  25%{
    transform: scale(1.3, 0.6);
  }
  35%{
    transform: scale(0.6, 1.3);
  }
  50%{
    transform: scale(1.1, 0.9);
  }
  65%{
    transform: scale(0.9, 1.02);
  }
}

.animCard:hover {
  animation: stretch 2s;
}
@keyframes stretch{
  25%{
    transform: scale(1.1, 0.9);
  }
  35%{
    transform: scale(0.9, 1.02);
  }
  50%{
    transform: scale(1.1, 0.9);
  }
  65%{
    transform: scale(0.9, 1.02);
  }
}


.page {
  position: absolute;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 400ms linear 100ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

.pageout-enter{
  opacity: 0;
  z-index: 1;
}

.pageout-enter-active{
  opacity: 1;
  transition: opacity 1000ms linear 200ms;
}

.pageout-exit{
  opacity: 1;
}

.pageout-exit-active{
  opacity: 0;
  transition: opacity 1000ms linear 200ms;
}

.homeBtn{
  margin-top: 3%;
  margin-left: 90%;
}
